{% extends '../../base.html.twig' %}

{% block title %}Bienvenue !{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="text-center">
            <h1 class="display-4 text-primary">Bienvenue sur Mathis Cuisine</h1>
            <p class="lead">Découvrez les meilleures recettes et tu va te régaler, Chakal !</p>
            <a href="" class="btn btn-success btn-lg mt-4">Voir les recettes</a>
        </div>
    </div>
{% endblock %}
