{% extends "public/base.html.twig" %}



{% block body %}

    <main>

        <form class="container mt-5" action="{{ path('login') }}" method="post">
            <div class="mb-3">
                <label for="username" class="form-label">Nom d'utilisateur</label>
                <input type="text" class="form-control" id="username" name="_username" value="{{ last_username}}" placeholder="Entrez votre nom d'utilisateur">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Mot de passe</label>
                <input type="password" class="form-control" id="password" name="_password" placeholder="Entrez votre mot de passe">
            </div>
            <button type="submit" class="btn btn-primary">Se connecter</button>
        </form>


    </main>

{% endblock %}
